@page "/contacts"
@using BlazorChat.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="col-12">

    @foreach (var contact in ContactList)
    {
        <a href="/chat/@contact.ContactId" class="list-group-item list-group-item-action flex-column align-items-start">
            @contact.FirstName <span> </span> @contact.LastName
        </a>
    }
</div>

@code {
    private WeatherForecast[] forecasts;

    private List<Contact> ContactList {get; set;} = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast"); *@

        ContactList = await Http.GetFromJsonAsync<List<Contact>>("user");

        Console.WriteLine(ContactList[2].FirstName);
    }

    private void NavigateToChat(){
        NavigationManager.NavigateTo("/chat");
    }
}
